@import
url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');

body{
	font: 400 18px/1.2 "Raleway", sans-serif;
	color: #303030;
	background-color: #eee;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	text-decoration: none;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-menu {
	float: right;

}

.ba-menu li {
	display: inline-block;
	margin-left: 48px;
}

.ba-menu a{
	font: 400 18px/1.5 Roboto, sans-serif;
	color:  #303030;
	margin: 0;
}

.ba-logo img {
	margin-top: 20px;
}

.ba-bw-article {
	float: left;
	width: 60%;
	text-align: right;
	padding: 38px 55px 0 0;
}

.ba-title {
	font: 900 150px/1 Raleway, sans-serif;
	color:  #303030;
	text-transform: uppercase;
	margin: 0;
	// padding: 22px 55px 0 0;
}

.ba-bw-article p {
	font: 300 24px/1.5 Roboto, sans-serif;
	color:  #303030;
	vertical-align: center;
	margin: 23px 19px;

}

.ba_view-project {
	font: 700 24px/1.5 Roboto, sans-serif;;
	color:  #e10011;
	display: block;
	margin: 0px 33px 180px;
}

.ba-headphones {
	float: right;
	width: 38%;
	vertical-align: center;
	padding-top: 38px;
}

.ba-main {
	max-width: 1200px;
	background-color: #FFF;
	margin: 0 auto;
}

.ba-work img {
	display: block;
	border-radius: 10px;
}

.ba-work {
	text-transform: center;
	text-decoration: none;
	color: #FFF;
	display: block;
	position: relative;

}

.ba-work__caption {
	background: rgb(225, 0, 17);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	opacity: 0;
	transition: opacity .5s;
}

.ba-work:hover .ba-work__caption {
	opacity: 1;
}

.ba-work__caption-body {
	padding: 0 20px;
	position: absolute;
	right: 0;
	left: 0;
	top: 75%;
	transform:translateY(-50%);
	font-size: 25px;
}

[class*="ba-col-"]{
	float: left;
	margin-bottom: 40px;
	padding-left: 40px;
}

.ba-row {
	margin-left: 48px;
}

.ba-main-article {
	text-align: center;
	max-width: 550px;
	margin: 0 auto;
	position: relative;
	padding: 58px 0 56px;
}

.ba-main-title {
	font: 900 48px/1.5 Raleway, sans-serif;
	color:  #303030;
	text-align: center;
	margin-bottom:27px;
}

.ba-underline  {
	position: absolute;
	left: 178px;
	top: 171px;
}
